vti_encoding:SR|utf8-nl
vti_author:SR|MCDONALD\\rvramire
vti_modifiedby:SR|L00251678L01\\Raul Ramirez
vti_timelastmodified:TR|29 Nov 2008 18:29:56 -0000
vti_timecreated:TR|18 Aug 2003 22:12:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_lineageid:SR|{AA72FBC1-23DC-441B-8D8C-5BBBE20085FA}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|18 Aug 2003 22:12:20 -0000
vti_cacheddtm:TX|29 Nov 2008 18:29:56 -0000
vti_filesize:IR|695
