vti_encoding:SR|utf8-nl
vti_author:SR|MCDONALD\\rvramire
vti_modifiedby:SR|L00251678L01\\Raul Ramirez
vti_timelastmodified:TR|29 Nov 2008 18:29:56 -0000
vti_timecreated:TR|18 Aug 2003 22:12:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_lineageid:SR|{01E0014B-ECBD-44D9-AE33-F185CFF30B38}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|18 Aug 2003 22:12:20 -0000
vti_cacheddtm:TX|29 Nov 2008 18:29:56 -0000
vti_filesize:IR|1331
vti_cachedlinkinfo:VX|S|netbanr.gif S|netrule.gif S|netbul1.gif S|netbul2.gif S|netbul3.gif S|nethsel.gif S|nethbtn.gif S|netvsel.gif S|netvbtn.gif S|nethom.gif S|netup.gif S|netbck.gif S|netnxt.gif S|netbul1.gif S|netbul2.gif S|netbul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/network/netbanr.gif FSUS|_themes/network/netrule.gif FSUS|_themes/network/netbul1.gif FSUS|_themes/network/netbul2.gif FSUS|_themes/network/netbul3.gif FSUS|_themes/network/nethsel.gif FSUS|_themes/network/nethbtn.gif FSUS|_themes/network/netvsel.gif FSUS|_themes/network/netvbtn.gif FSUS|_themes/network/nethom.gif FSUS|_themes/network/netup.gif FSUS|_themes/network/netbck.gif FSUS|_themes/network/netnxt.gif FSUS|_themes/network/netbul1.gif FSUS|_themes/network/netbul2.gif FSUS|_themes/network/netbul3.gif
