vti_encoding:SR|utf8-nl
vti_author:SR|MCDONALD\\rvramire
vti_modifiedby:SR|L00251678L01\\Raul Ramirez
vti_timelastmodified:TR|29 Nov 2008 18:29:56 -0000
vti_timecreated:TR|18 Aug 2003 22:12:21 -0000
vti_extenderversion:SR|12.0.0.0
vti_lineageid:SR|{8F0F4628-B514-45E7-BD88-94414A22828B}
vti_backlinkinfo:VX|_themes/network/theme.css
vti_nexttolasttimemodified:TR|18 Aug 2003 22:12:21 -0000
vti_cacheddtm:TX|29 Nov 2008 18:29:56 -0000
vti_filesize:IR|28736
vti_cachedlinkinfo:VX|S|netglobl.gif S|netbkgnd.gif S|netbul2.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/network/netglobl.gif FSUS|_themes/network/netbkgnd.gif FSUS|_themes/network/netbul2.gif FSUS|_themes/network/toolgrad.gif FSUS|_themes/network/dot.gif FSUS|_themes/network/toolgrad.gif FSUS|_themes/network/theme.css FSUS|_themes/network/blank.gif
